img {
    width: 24px;
}

.appname {
    padding-top: 10px;
}

.addTodo {
    margin: 50px auto;
    padding: 10px;
}

.btn {
    font-weight: bold;
}

.showTodo {
    display: flex;
    justify-content: center;
}

.addBtn {
    width: 66px;
}

.card-footer button {
    width: 99px;
}

@media only screen and (max-width: 750px) {
    .addBtn {
        float: right;
    }

    .addTodo {
        margin: 10px auto;
    }
}

@media only screen and (max-width: 300px) {
    .card-footer button {
        width: 75px;
    }
}
